.wrapper {
  view-transition-name: xxx;
}

.inner {
  display: flex;
  gap: 10cqh;
  flex-direction: column;

  h1 {
    margin: 0;
    color: #fff;
    text-align: center;
    font-family: var(--pixel-font-family);
    font-size: calc(100 / 1440 * 100cqh);
    font-style: normal;
    font-weight: 500;
    line-height: 50%;
  }

  ol {
    margin: 0;
    width: fit-content;
    align-self: center;
    color: #fff;
    font-size: calc(50 / 1440 * 100cqh);
    font-style: normal;
    font-weight: 400;
    line-height: 134%;
  }
}

.use-cases {
  display: grid;
  grid-template-columns: repeat(3, calc(420 / 1440 * 100cqh));
  grid-template-rows: 1fr 1fr 1fr;
  gap: calc(60 / 1440 * 100cqh);
  justify-content: center;
  position: relative;
}

.use-case {
  display: grid;
  align-items: center;
  grid-row: 1 / -1;
  grid-template-rows: subgrid;
  gap: calc(41 / 1440 * 100cqh);
  text-align: center;
  font-size: calc(24 / 1440 * 100cqh);
  font-style: normal;
  font-weight: 400;
  line-height: 145.833%;
}

.title {
  font-size: calc(50 / 1440 * 100cqh);
  font-style: normal;
  font-weight: 500;
  line-height: 1;
}

.choice {
  color: #fff;
  text-align: center;
  font-family: var(--pixel-font-family);
  font-size: calc(150 / 1440 * 100cqh);
  font-style: normal;
  font-weight: 500;
  line-height: 133.333%;
}

.description {
}

.tangible-dummy {
  position: absolute;
  width: 13cqh;
  height: auto;
  right: calc(100% - calc(-35 / 1440 * 100cqh));
  top: calc(223 / 1440 * 100cqh);
  animation: move 1s ease-in-out 0s infinite alternate;
  view-transition-name: tangible;
  scale: -1 1;
}

.tangible-dummy,
.tangible {
  view-transition-name: tangible;
}

@keyframes move {
  to {
    transform: translateX(3cqh);
  }
}

.arrow {
  position: absolute;
  right: calc(100% - calc(90 / 1440 * 100cqh));
  top: calc(325 / 1440 * 100cqh);
  width: 15cqh;
  height: auto;
}

.on-selected-text {
  color: #fff;
  font-size: 3.47222222cqh;
  font-style: normal;
  font-weight: 400;
  line-height: 134%;

  span {
    color: #89ec7c;
    font-family: var(--pixel-font-family);
    font-size: inherit;
    font-style: normal;
    font-weight: 500;
    line-height: inherit;
  }
}
