.how-to {
  display: flex;
  flex-direction: column;
  gap: 10cqh;

  h1 {
    text-align: center;
    font-family: var(--pixel-font-family);
    font-size: 6.94444444cqh;
    font-style: normal;
    font-weight: 500;
    line-height: 1;
  }
}

.rules {
  display: flex;
  justify-content: space-between;
  gap: 5cqw;
}

.rule {
  width: 22cqw;
  min-height: 34cqh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
  background: #fff;
  border-radius: 12px;
  color: #3c3c3c;
  font-size: 1cqw;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  transform: translateY(-100cqh);
  animation: drop-down 0.7s ease-in-out forwards;
  animation-delay: calc(var(--i) * 0.2s);

  h2 {
    margin: 12px 20px;
    font: inherit;
    font-weight: 500;
  }

  p {
    flex: 1;
    padding: 20px;
    margin: 0;
  }
}

@keyframes drop-down {
  to {
    transform: translateY(0px);
  }
}

.image {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), #131338;
  text-align: center;
  height: 200px;
  display: grid;
  place-items: center;
  svg {
    width: 11cqh;
    height: 11cqh;
  }
}

.next {
  text-align: center;
  font-size: 2cqw;
}

.how-to h1,
.next {
  opacity: 0;
  animation: fade-in ease-in 300ms forwards;
  animation-delay: 1s;
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}

[data-index="2"] {
  view-transition-name: xxx;
}
