.wrapper {
  position: absolute;
  inset: 0;
}

.title {
  position: absolute;
  top: 23cqh;
  left: calc(414 / 1440 * 100cqh);
  view-transition-name: title-wrapper;

  header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3cqw;
  }

  h1 {
    text-box: trim-both cap alphabetic;

    span:first-of-type {
      text-box: inherit;
      font-size: 11.87868056cqh;
      font-style: normal;
      font-weight: 900;
      line-height: 133.333%;
      text-transform: uppercase;
      margin: 0;
    }

    span:last-of-type {
      text-box: inherit;
      margin-top: -3cqh;
      display: block;
      font-family: var(--pixel-font-family);
      color: #57cc99;
      font-size: 24.94520833cqh;
      font-style: normal;
      font-weight: 700;
      line-height: 1;
      text-transform: uppercase;
    }
  }
}

::view-transition-old(title-wrapper) {
  animation: slide-out-left 500ms forwards cubic-bezier(0.36, 0, 0.66, -0.56);
}
::view-transition-new(title-wrapper) {
  animation: slide-in-right 500ms forwards ease-in-out;
}

@keyframes slide-out-left {
  to {
    transform: translateX(-100%);
  }
}

@keyframes slide-in-right {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.robot {
  position: absolute;
  right: calc(926 / 1440 * 100cqh);
  bottom: calc(108 / 1440 * 100cqh);
  width: auto;
  height: calc(502 / 1440 * 100cqh);
  aspect-ratio: 431/502;
}

.bankling {
  position: absolute;
  right: calc(334 / 1440 * 100cqh);
  bottom: calc(103 / 1440 * 100cqh);
  width: auto;
  height: calc(882 / 1440 * 100cqh);
  aspect-ratio: 541/882;
  scale: -1 1;
}

.characters {
  position: absolute;
  inset: 0;
  view-transition-name: characters;
}

::view-transition-old(characters) {
  animation: slide-out-right 500ms forwards cubic-bezier(0.36, 0, 0.66, -0.56);
}
::view-transition-new(characters) {
  animation: slide-in-left 500ms forwards ease-in-out;
}

@keyframes slide-out-right {
  to {
    transform: translateX(100%);
  }
}

@keyframes slide-in-left {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
