.tangible-slot {
  display: grid;
  place-items: center;

  color: #fff;
  text-align: center;
  font-family: var(--pixel-font-family);
  font-size: 10.41666667cqh;
  font-style: normal;
  font-weight: 500;
  line-height: 1;

  > * {
    grid-column: 1;
    grid-row: 1;
  }
}
