.wrapper {
  padding: 0.5em 2em;
}

.table-wrapper {
  overflow: auto;
  container-type: inline-size;
  container-name: table-wrapper;
}

.table {
  display: grid;
  grid-template-columns: repeat(9, max-content);
  overflow: auto;
  max-width: 100cqw;
  gap: 10px 20px;
}

.header-row {
  font-weight: bold;
}

.row {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: subgrid;

  > fieldset {
    grid-column: inherit;
    display: inherit;
    grid-template-columns: inherit;
    border: 0;
    padding: 0;
    margin: 0;
  }
  button {
    padding: 0 1em;
  }
}

.tabs {
  display: flex;
  border-bottom: 1px solid #dcdcdc;
}

.tab {
  background: white;
  border-radius: 0;
  font-size: 20px;

  &[aria-selected="true"] {
    font-weight: bold;
    border-bottom-width: 3px;
    border-bottom-color: blue;
  }
}
